@using BytexDigital.Blazor.Components.CookieConsent.Internal
@using BytexDigital.Blazor.Components.CookieConsent.Dialogs.Preferences
@using BytexDigital.Blazor.Components.CookieConsent.Dialogs.Prompts.Default

<CascadingValue Value="this">
    @ChildContent
</CascadingValue>

<div class="cc-isolation-container">
    @if (IsShowingSettingsModal)
    {
        <CookieConsentPreferences Close="SettingsClosed" />
    }

    @if (IsShowingConsentModal)
    {
        @PromptFragment
    }
</div>