@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

The following renders a cookie consent check:

<CookieConsentCheck RequiredCategory="google">
    <Allowed>
        <p>Cookie check passed!</p>   
    </Allowed>
</CookieConsentCheck>